@model UserListModel
@using dotnetstartermvc.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    ViewData["Title"] = "Danh sách các thành viên";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";

    int stt = 1;
}

<partial name="_StatusMessage"></partial>
<p>
    Tổng số thành viên: 
    <b style="color: #4e73df">
        @Model.totalUsers
    </b>
</p>

<table class="table table-striped">
    <thead style="background-color: #4e73df; color: #fff">
        <tr>
            <th>STT</th>
            <th>Tên tài khoản</th>
            <th>Vai trò (Role)</th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.users)
        {
            <tr>
                <td>
                    <b style="color: #4e73df">
                        @(stt++)
                    </b>
                </td>
                <td>@user.UserName</td>
                <td>
                    @if (string.IsNullOrEmpty(user.RoleNames))
                    {
                        <a class="text-dark" asp-action="AddRole" asp-route-id="@user.Id">+ Thêm vai trò (Roles)</a>
                    }
                    else
                    {
                        <a asp-action="AddRole" asp-route-id="@user.Id">@user.RoleNames</a>
                    }
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="SetPassword" asp-route-id="@user.Id">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                        Đặt mật khẩu
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var pagingmodel = new PagingModel()
            {
                currentpage = Model.currentPage,
                countpages = Model.countPages,
                generateUrl = (int? p) => Url.Action("Index", new { p = p })
            };
}

<partial name="_PagingXTL" model="@pagingmodel" />

@{
    _AdminSidebarService.SetActive("User", "Index", "Identity");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}
