@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;
@using System.Globalization
@using dotnetstartermvc.Menu
@using dotnetstartermvc.Models;
@inject AdminSidebarService _AdminSidebarService
@model X.PagedList.IPagedList<WorkSchedule>

@{
    ViewData["Title"] = "Quản lý lịch công tác";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    int stt = 1;
}

<style>
    .table-responsive {
        overflow-x: auto;
    }

    .table {
        table-layout: fixed; /* Thêm dòng này để bảng tuân theo chiều rộng của các cột */
    }

    th, td {
        word-wrap: break-word;
    }
        /* STT */
        th:nth-child(1), td:nth-child(1) {
            width: 70px;
        }

        /* Thời gian */
        th:nth-child(2), td:nth-child(2) {
            width: 150px;
        }

        /* Tên lịch công tác */
        th:nth-child(3), td:nth-child(3) {
            width: 250px;
        }

        /* 	Nội dung */
        th:nth-child(4), td:nth-child(4) {
            width: 300px;
        }

        /* 	Ghi chú */
        th:nth-child(5), td:nth-child(5) {
            width: 250px;
        }

        /*  Địa chỉ */
        th:nth-child(6), td:nth-child(6) {
            width: 250px;
        }

        /* 	Thành phần tham dự */
        th:nth-child(7), td:nth-child(7) {
            width: 200px;
        }

        /* 	Tác vụ */
        th:nth-child(8), td:nth-child(8) {
            width: 320px;
        }

    td {
        color: #0D0D0D;
    }
</style>

<partial name="_AlertMessage" />

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-0">
    </div>
    <div class="col-lg-8 col-sm-8 col-xs-12">
        <form asp-action="Index" method="get">
            <div class="form-group">
                <input type="text" class="form-control" id="search" name="searchString" value="@ViewBag.CurrentFilter" placeholder="Nhập nội dung cần tìm kiếm ..." style="display: inline-block; width: 70%">
                <button type="submit" class="btn btn-primary" style="width: 25%">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Tìm kiếm
                </button>
            </div>
        </form>
    </div>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Tạo lịch công tác
    </a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead style="background-color: #4e73df; color: #fff">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Thời gian
                </th>
                <th>
                    Tên lịch công tác
                </th>
                <th>
                    Nội dung
                </th>
                <th>
                    Ghi chú
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Thành phần tham dự
                </th>
                <th>
                    Tác vụ
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <b style="color: #4e73df">
                            @(stt++)
                        </b>
                    </td>
                    <td>
                        @{
                            if (item.ActionDate.HasValue)
                            {
                                var timeString = item.ActionDate.Value.ToString("dddd, dd/MM/yyyy hh:mm tt", new CultureInfo("vi-VN"));
                                if (timeString.Contains("SA"))
                                {
                                    timeString = timeString.Replace("SA", "Sáng");
                                }
                                else if (timeString.Contains("CH"))
                                {
                                    timeString = timeString.Replace("CH", "Chiều");
                                }
                                <text>@timeString</text>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.Raw(item.Description)
                    </td>
                    <td>
                        @Html.Raw(item.Note)
                    </td>
                    <td>
                        @Html.Raw(item.Address)
                    </td>
                    <td>
                        @Html.Raw(item.Participants)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                            Cập nhật
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            Chi tiết
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_Pagination", Model)

@{
    _AdminSidebarService.SetActive("WorkSchedules", "Index", "");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}