@using System.Globalization;
@using dotnetstartermvc.Menu
@inject AdminSidebarService _AdminSidebarService
@model dotnetstartermvc.Models.Notification

@{
    ViewData["Title"] = "Xóa tin tức";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .avatar-img {
        width: 25%;
        height: 200px;
        border-radius: 10px;
    }
</style>

<div>
    <dl class="row">
        <dt class="col-sm-3">
            Tên tin tức
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-3">
            Ảnh đại điện tin tức
        </dt>
        <dd class="col-sm-9">
            @foreach (var photo in Model.NotificationPhotos)
            {
                <img class="avatar-img" src="/contents/Notifications/@photo.FileName" />
            }
        </dd>
        <dt class="col-sm-3">
            Mô tả thông tin tin tức
        </dt>
        <dd class="col-sm-9">
            @Html.Raw(Model.Description)
        </dd>
        <dt class="col-sm-3">
            Ngày đăng
        </dt>
        <dd class="col-sm-9">
            @{
                if (Model.CreatedDate.HasValue)
                {
                    var timeString = Model.CreatedDate.Value.ToString("dddd, dd/MM/yyyy hh:mm tt", new CultureInfo("vi-VN"));
                    if (timeString.Contains("SA"))
                    {
                        timeString = timeString.Replace("SA", "Sáng");
                    }
                    else if (timeString.Contains("CH"))
                    {
                        timeString = timeString.Replace("CH", "Chiều");
                    }
                    <text>@timeString</text>
                }
            }
        </dd>
        <dt class="col-sm-3">
            Người tạo
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
    <form asp-action="Delete" onsubmit="return confirm('Bạn có chắc chắn muốn xóa nội dung này không?');">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Xóa tin tức
        </button>
    </form>
    <hr />
    <a asp-action="Index" class="btn btn-outline-dark"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Danh sách thông báo</a>
</div>

@{
    _AdminSidebarService.SetActive("Notifications", "Index", "");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}