@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;
@using System.Globalization
@using dotnetstartermvc.Menu
@using dotnetstartermvc.Models;
@inject AdminSidebarService _AdminSidebarService
@model X.PagedList.IPagedList<Assignment>

@{
    ViewData["Title"] = "Quản lý nhiệm vụ chung";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    int stt = 1;
}

<style>
    th, td {
        word-wrap: break-word;
        max-width: 300px;
    }

    td {
        color: #0D0D0D;
    }

</style>

<partial name="_AlertMessage" />

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-0">
    </div>
    <div class="col-lg-8 col-sm-8 col-xs-12">
        <form asp-action="Index" method="get">
            <div class="form-group">
                <input type="text" class="form-control" id="search" name="searchString" value="@ViewBag.CurrentFilter" placeholder="Nhập nội dung cần tìm kiếm ..." style="display: inline-block; width: 70%">
                <button type="submit" class="btn btn-primary" style="width: 25%">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Tìm kiếm
                </button>
            </div>
        </form>
    </div>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Tạo nhiệm vụ
    </a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead style="background-color: #4e73df; color: #fff">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Thời gian
                </th>
                <th>
                    Tên nhiệm vụ
                </th>
                <th>
                    Nội dung
                </th>
                <th>
                    Ghi chú
                </th>
                <th>
                    Tiến độ
                </th>
                <th>
                    Phản hồi
                </th>
                <th>
                    Tác vụ
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <b style="color: #4e73df">
                            @(stt++)
                        </b>
                    </td>
                    <td style="max-width: 100px;">
                        @{
                            if (item.ActionDate.HasValue)
                            {
                                var timeString = item.ActionDate.Value.ToString("dddd, dd/MM/yyyy hh:mm tt", new CultureInfo("vi-VN"));
                                if (timeString.Contains("SA"))
                                {
                                    timeString = timeString.Replace("SA", "Sáng");
                                }
                                else if (timeString.Contains("CH"))
                                {
                                    timeString = timeString.Replace("CH", "Chiều");
                                }
                                <text>@timeString</text>
                            }
                        }
                    </td>
                    <td style="max-width: 250px;">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td style="max-width: 270px;">
                        @Html.Raw(item.Description)
                    </td>
                    <td style="max-width: 270px;">
                        @Html.Raw(item.Note)
                    </td>
                    <td style="max-width: 150px;">
                        @if (item.IsComplete == true)
                        {
                            <span class="text-success">
                                <b>
                                    Xong
                                </b>
                            </span>
                        }
                        else
                        {
                            <span class="text-danger">
                                <b>
                                    Chưa
                                </b>
                            </span>
                        }
                    </td>
                    <td style="max-width: 250px;">
                        @Html.Raw(item.Feedback)
                    </td>
                    <td style="max-width: 150px;">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary" style="width: 130px;">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                            Cập nhật
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary" style="width: 130px;">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            Chi tiết
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" style="width: 130px;">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_Pagination", Model)

@{
    _AdminSidebarService.SetActive("Assignments", "Index", "");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}