@using System.Globalization;
@model dotnetstartermvc.Dtos.DetailServiceAndListNotification

@{
    ViewData["Title"] = "Chi tiết dịch vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hero_area {
        min-height: 5vh;
    }

    .cf-title-10 h3 {
        font-size: 34px;
        font-weight: 500;
        text-transform: uppercase;
    }

        .cf-title-10 h3:before {
            background-color: #c50000;
            border-radius: 0.25rem;
            content: '';
            display: block;
            height: 0.25rem;
            width: 42px;
            margin-bottom: 1.25rem;
        }

    .title-service {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: black; /* Màu chữ hồng */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .description-service {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.6; /* Độ dài của dòng */
    }
</style>

<div class="row p-5">
    <div class="col-lg-8 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="cf-title-10">
                    <h3 class="title-service">@Html.DisplayFor(model => model.DetailService.Title)</h3>
                </div>
            </div>
        </div>
        <div class="row description-service">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                @Html.Raw(Model.DetailService.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <p>
                    <b>Ngày tạo: </b>
                    @{
                        if (Model.DetailService.CreatedDate.HasValue)
                        {
                            var timeString = Model.DetailService.CreatedDate.Value.ToString("dd/MM/yyyy hh:mm tt", new CultureInfo("vi-VN"));
                            if (timeString.Contains("SA"))
                            {
                                timeString = timeString.Replace("SA", "Sáng");
                            }
                            else if (timeString.Contains("CH"))
                            {
                                timeString = timeString.Replace("CH", "Chiều");
                            }
                            <text>@timeString</text>
                        }
                    }
                </p>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <p style="float: right;">
                    <b>Tác giả: </b>
                    @Html.DisplayFor(model => model.DetailService.User.Email)
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px; margin-top:10px;">
            <a asp-action="Service" class="btn btn-outline-dark">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Quay lại trang chủ
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-xs-12">
        <table class="table table-striped">
            <thead class="sticky-thead" style="background-color: #337ab7; color: #fff">
                <tr class="text-center">
                    <th>
                        
                    </th>
                    <th>
                        Thông báo
                    </th>
                    <th>
                        Ngày đăng
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListNotifications)
                {
                    <tr>
                        <td style="width: 20%">
                            @if (item.NotificationPhotos.Count > 0)
                            {
                                foreach (var photo in item.NotificationPhotos)
                                {
                                    <img style="height: 60px; width: 100%; border-radius: 10px;" src="/contents/Notifications/@photo.FileName" />
                                }
                            }
                            else
                            {
                                <img style="height: 60px; width: 100%; border-radius: 10px;" src="~/images/bg-logo-vntc.png" />
                            }
                        </td>
                        <td style="width: 60%">                           
                            <a asp-action="NotificationDetails" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>
                        </td>
                        <td style="width: 20%" class="text-center">
                            @{
                                if (item.CreatedDate.HasValue)
                                {
                                    var timeString = item.CreatedDate.Value.ToString("dd/MM/yyyy hh:mm tt", new CultureInfo("vi-VN"));
                                    if (timeString.Contains("SA"))
                                    {
                                        timeString = timeString.Replace("SA", "Sáng");
                                    }
                                    else if (timeString.Contains("CH"))
                                    {
                                        timeString = timeString.Replace("CH", "Chiều");
                                    }
                                    <text>@timeString</text>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>