@using dotnetstartermvc.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    ViewData["Title"] = "Quản lý số liệu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Row -->
<div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Số lượng người dùng
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.UsersCount</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: @ViewBag.UsersCount%" aria-valuenow="@ViewBag.UsersCount" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <a asp-action="Index" asp-controller="WorkSchedules">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Số lượng lịch công tác
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.WorkScheduleCount</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: @ViewBag.WorkScheduleCount%" aria-valuenow="@ViewBag.WorkScheduleCount" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <a asp-action="Index" asp-controller="Assignments">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Số lượng nhiệm vụ chung bàn giao
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.AssignmentCount</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: @ViewBag.AssignmentCount%" aria-valuenow="@ViewBag.AssignmentCount" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <a asp-action="Index" asp-controller="Customers">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Số lượng hồ sơ khách hàng
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.CustomerCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <a asp-action="Index" asp-controller="Services">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Số lượng dịch vụ
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.ServicesCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <a asp-action="Index" asp-controller="Notifications">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Số lượng tin tức
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.NotificationsCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div style="width:50%; margin: 0 auto;">
            <h5 class="text-center">Biểu đồ số lượng vai trò & người dùng</h5>
            <canvas id="myPie1" width="200" height="200"></canvas>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div style="width: 50%; margin: 0 auto;">
            <h5 class="text-center">Biểu đồ số lượng các nghiệp vụ</h5>
            <canvas id="myPie2" width="200" height="200"></canvas>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div style="width: 50%; margin: 0 auto;">
            <h5 class="text-center">Biểu đồ lịch công tác & nhiệm vụ chung</h5>
            <canvas id="myPie3" width="200" height="200"></canvas>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div style="width: 100%; margin: 0 auto;">
            <h5 class="text-center">Biểu đồ biểu diễn tất cả các số liệu của VNTC</h5>
            <canvas id="myChartBar" width="1000" height="300"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/chart/chart.js"></script>
    <script>
        var ctx1 = document.getElementById('myPie1').getContext('2d');
        var myPie1 = new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: ['Vai trò', 'Người dùng'],
                datasets: [{
                    label: 'Số lượng',
                    data: [
        @ViewBag.RolesCount,
        @ViewBag.UsersCount,
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.8)',   // Red
                        'rgba(54, 162, 235, 0.8)',   // Blue
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',     // Red
                        'rgba(54, 162, 235, 1)',     // Blue
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx2 = document.getElementById('myPie2').getContext('2d');
        var myPie2 = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: ['Dịch vụ', 'Tin tức', 'Tuyển dụng'],
                datasets: [{
                    label: 'Số lượng',
                    data: [
        @ViewBag.ServicesCount,
        @ViewBag.NotificationsCount,
        @ViewBag.JobCount,
                    ],
                    backgroundColor: [
                        'rgba(255, 206, 86, 0.2)',   // Yellow
                        'rgba(75, 192, 192, 0.2)',   // Green
                        'rgba(153, 102, 255, 0.2)',  // Purple
                    ],
                    borderColor: [
                        'rgba(255, 206, 86, 1)',     // Yellow
                        'rgba(75, 192, 192, 1)',     // Green
                        'rgba(153, 102, 255, 1)',    // Purple
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx3 = document.getElementById('myPie3').getContext('2d');
        var myPie3 = new Chart(ctx3, {
            type: 'pie',
            data: {
                labels: ['Lịch công tác', 'Nhiệm vụ chung'],
                datasets: [{
                    label: 'Số lượng',
                    data: [
        @ViewBag.WorkScheduleCount,
        @ViewBag.AssignmentCount,
                    ],
                    backgroundColor: [
                        'rgba(255, 159, 64, 0.2)',   // Orange
                        'rgba(255, 0, 255, 0.2)',    // Magenta
                    ],
                    borderColor: [
                        'rgba(255, 159, 64, 1)',     // Orange
                        'rgba(255, 0, 255, 1)',      // Magenta
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById('myChartBar').getContext('2d');
        var myChartBar = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Vai trò', 'Người dùng', 'Dịch vụ', 'Tin tức', 'Tuyển dụng', 'Lịch công tác', 'Nhiệm vụ chung'],
                datasets: [{
                    label: 'Số lượng',
                    data: [
        @ViewBag.RolesCount,
        @ViewBag.UsersCount,
        @ViewBag.ServicesCount,
        @ViewBag.NotificationsCount,
        @ViewBag.JobCount,
        @ViewBag.WorkScheduleCount,
        @ViewBag.AssignmentCount,
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',   // Red
                        'rgba(54, 162, 235, 0.2)',   // Blue
                        'rgba(255, 206, 86, 0.2)',   // Yellow
                        'rgba(75, 192, 192, 0.2)',   // Green
                        'rgba(153, 102, 255, 0.2)',  // Purple
                        'rgba(255, 159, 64, 0.2)',   // Orange
                        'rgba(255, 0, 255, 0.2)',    // Magenta
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',     // Red
                        'rgba(54, 162, 235, 1)',     // Blue
                        'rgba(255, 206, 86, 1)',     // Yellow
                        'rgba(75, 192, 192, 1)',     // Green
                        'rgba(153, 102, 255, 1)',    // Purple
                        'rgba(255, 159, 64, 1)',     // Orange
                        'rgba(255, 0, 255, 1)',      // Magenta
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
}

@{
    _AdminSidebarService.SetActive("Chart", "Index", "");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}