@using System.Globalization
@using dotnetstartermvc.Menu
@model IQueryable<dotnetstartermvc.ModelsRequest.DutyRequest.DutyViewModel>
@inject AdminSidebarService _AdminSidebarService

@{
    ViewData["Title"] = "D/sách nhiệm vụ trong tuần";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    int stt = 1;
}

<style>
    th, td {
        word-wrap: break-word;
        max-width: 200px;
    }

    td {
        color: #0D0D0D;
    }
</style>

<div class="">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="cf-title-10">
                <h3 class="text-center">DANH SÁCH NHIỆM VỤ CÁ NHÂN</h3>
                <h6 class="text-center">Tuần @ViewBag.WeekNumber: Từ ngày @ViewBag.StartOfWeek.ToString("dd/MM/yyyy") đến ngày @ViewBag.EndOfWeek.ToString("dd/MM/yyyy")</h6>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row" style="margin-top:10px; margin-bottom:10px; ">
                <div class="col-lg-4 col-sm-12 col-xs-12">
                    <a class="btn btn-primary" asp-action="ListDuties">Tất cả</a>
                    <a class="btn btn-outline-primary" asp-action="FilterByWeek">Nhiệm vụ tuần</a>
                    <a class="btn btn-primary" asp-action="FilterByDay">Nhiệm vụ ngày</a>
                </div>
                <div class="col-lg-8 col-sm-12 col-xs-12">
                    <form asp-action="FilterByWeek" method="get">
                        <div class="form-group ">
                            <input type="text" class="form-control" id="search" name="searchString" value="@ViewBag.CurrentFilter" placeholder="Nhập nội dung cần tìm kiếm ..." style="display: inline-block; width: 70%">
                            <button type="submit" class="btn btn-primary" style="width: 25%">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                Tìm kiếm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead style="background-color: #4e73df; color: #fff">
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                Thời gian
                            </th>
                            <th>
                                Tên nhiệm vụ
                            </th>
                            <th>
                                Nội dung
                            </th>
                            <th>
                                Ghi chú
                            </th>
                            <th>
                                Tiến độ
                            </th>
                            <th>
                                Phản hồi
                            </th>
                            <th>
                                Người đảm nhiệm
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <b style="color: #4e73df">
                                        @(stt++)
                                    </b>
                                </td>
                                <td style="max-width: 100px;">
                                    @{
                                        if (item.Duty.ActionDate.HasValue)
                                        {
                                            var timeString = item.Duty.ActionDate.Value.ToString("dddd, dd/MM/yyyy hh:mm tt", new CultureInfo("vi-VN"));
                                            if (timeString.Contains("SA"))
                                            {
                                                timeString = timeString.Replace("SA", "Sáng");
                                            }
                                            else if (timeString.Contains("CH"))
                                            {
                                                timeString = timeString.Replace("CH", "Chiều");
                                            }
                                            <text>@timeString</text>
                                        }
                                    }
                                </td>
                                <td style="max-width: 250px;">
                                    @Html.DisplayFor(modelItem => item.Duty.Title)
                                </td>
                                <td style="max-width: 270px;">
                                    @Html.Raw(item.Duty.Description)
                                </td>
                                <td style="max-width: 270px;">
                                    @Html.Raw(item.Duty.Note)
                                </td>
                                <td>
                                    <a asp-action="EditIsComplete" asp-route-id="@item.Duty.Id">
                                        @if (item.Duty.IsComplete == true)
                                        {
                                            <span class="text-success btn btn-outline-primary">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                <b>
                                                    Xong
                                                </b>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="text-danger btn btn-outline-primary">
                                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                <b>
                                                    Chưa
                                                </b>
                                            </span>
                                        }
                                    </a>
                                </td>
                                <td style="max-width: 250px;">
                                    @Html.Raw(item.Duty.Feedback)
                                </td>
                                <td style="max-width: 250px;">
                                    @if (item.UserDuties.Any())
                                    {
                                        @foreach (var userDuty in item.UserDuties)
                                        {
                                            @userDuty.User.Email
                                            <br />
                                        }
                                    }
                                    else
                                    {
                                        <span style="color: red;">Chưa có người đảm nhiệm</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@{
    _AdminSidebarService.SetActive("Duties", "FilterByWeek", "");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}