@using System.Globalization;
@using dotnetstartermvc.Menu
@inject AdminSidebarService _AdminSidebarService
@model dotnetstartermvc.Models.Service

@{
    ViewData["Title"] = "Chi tiết dịch vụ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .avatar-img {
        width: 25%;
        height: 200px;
        border-radius: 10px;
    }
</style>

<div>
    <dl class="row">
        <dt class="col-sm-3">
            Tên dịch vụ
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-3">
            Ảnh đại điện dịch vụ
        </dt>
        <dd class="col-sm-9">
            @foreach (var photo in Model.ServicePhotos)
            {
                <img class="avatar-img" src="/contents/Services/@photo.FileName" />
            }
        </dd>
        <dt class="col-sm-3">
            Mô tả thông tin dịch vụ
        </dt>
        <dd class="col-sm-9">
            @Html.Raw(Model.Description)
        </dd>
        <dt class="col-sm-3">
            Ngày tạo
        </dt>
        <dd class="col-sm-9">
            @{
                if (Model.CreatedDate.HasValue)
                {
                    var timeString = Model.CreatedDate.Value.ToString("dddd, dd/MM/yyyy hh:mm tt", new CultureInfo("vi-VN"));
                    if (timeString.Contains("SA"))
                    {
                        timeString = timeString.Replace("SA", "Sáng");
                    }
                    else if (timeString.Contains("CH"))
                    {
                        timeString = timeString.Replace("CH", "Chiều");
                    }
                    <text>@timeString</text>
                }
            }
        </dd>
        <dt class="col-sm-3">
            Ngày sửa
        </dt>
        <dd class="col-sm-9">
            @{
                if (Model.UpdatedDate.HasValue)
                {
                    var timeString = Model.UpdatedDate.Value.ToString("dddd, dd/MM/yyyy hh:mm tt", new CultureInfo("vi-VN"));
                    if (timeString.Contains("SA"))
                    {
                        timeString = timeString.Replace("SA", "Sáng");
                    }
                    else if (timeString.Contains("CH"))
                    {
                        timeString = timeString.Replace("CH", "Chiều");
                    }
                    <text>@timeString</text>
                }
            }
        </dd>
        <dt class="col-sm-3">
            Người tạo
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-dark"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Danh sách dịch vụ</a>
</div>

@{
    _AdminSidebarService.SetActive("Services", "Index", "");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}