@using System.Globalization;
@using dotnetstartermvc.Menu
@inject AdminSidebarService _AdminSidebarService
@model dotnetstartermvc.ModelsRequest.CustomerRequest.CustomerViewModel

@{
    ViewData["Title"] = "Chi tiết khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    int stt = 1;
}

<style>
    .table-responsive {
        overflow-x: auto;
    }

    .table {
        table-layout: fixed; /* Thêm dòng này để bảng tuân theo chiều rộng của các cột */
    }

    th, td {
        word-wrap: break-word;
    }
        /* STT */
        th:nth-child(1), td:nth-child(1) {
            width: 70px;
        }

        /* Tên gối thầu */
        th:nth-child(2), td:nth-child(2) {
            width: 300px;
        }

        /* Ghi chú */
        th:nth-child(3), td:nth-child(3) {
            width: 320px;
        }

        /* Tác vụ */
        th:nth-child(4), td:nth-child(4) {
            width: 320px;
        }

    td {
        color: #0D0D0D;
    }
</style>

<partial name="_AlertMessage" />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            Tên đơn vị
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.CompanyName)
        </dd>
        <dt class="col-sm-3">
            Địa chỉ
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>
        <dt class="col-sm-3">
            Tỉnh / Thành phố
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.ProvinceOrCity)
        </dd>
        <dt class="col-sm-3">
            SĐT đơn vị
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.CompanyPhoneNumber)
        </dd>
    </dl>
</div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">
            Người liên hệ
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.ContactPersonName)
        </dd>
        <dt class="col-sm-3">
            Chức vụ
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.Position)
        </dd>
        <dt class="col-sm-3">
            SĐT người liên hệ
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.ContactPersonPhoneNumber)
        </dd>
        <dt class="col-sm-3">
            Email
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
    </dl>
</div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">
            Tên dự án
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.BidPackageName)
        </dd>
        <dt class="col-sm-3">
            Giá trị dự án
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.ProjectValue)
        </dd>
        <dt class="col-sm-3">
            Ngày bắt đầu
        </dt>
        <dd class="col-sm-9">
            @{
                if (Model.Customer.StartDate.HasValue)
                {
                    var timeString = Model.Customer.StartDate.Value.ToString("dddd, dd/MM/yyyy hh:mm tt", new CultureInfo("vi-VN"));
                    if (timeString.Contains("SA"))
                    {
                        timeString = timeString.Replace("SA", "Sáng");
                    }
                    else if (timeString.Contains("CH"))
                    {
                        timeString = timeString.Replace("CH", "Chiều");
                    }
                    <text>@timeString</text>
                }
            }
        </dd>
        <dt class="col-sm-3">
            Ngày kết thúc
        </dt>
        <dd class="col-sm-9">
            @{
                if (Model.Customer.EndDate.HasValue)
                {
                    var timeString = Model.Customer.EndDate.Value.ToString("dddd, dd/MM/yyyy hh:mm tt", new CultureInfo("vi-VN"));
                    if (timeString.Contains("SA"))
                    {
                        timeString = timeString.Replace("SA", "Sáng");
                    }
                    else if (timeString.Contains("CH"))
                    {
                        timeString = timeString.Replace("CH", "Chiều");
                    }
                    <text>@timeString</text>
                }
            }
        </dd>
        <dt class="col-sm-3">
            Nguồn cơ hội
        </dt>
        <dd class="col-sm-9">
            @Html.Raw(Model.Customer.OpportunitySource)
        </dd>
        <dt class="col-sm-3">
            Ghi chú
        </dt>
        <dd class="col-sm-9">
            @Html.Raw(Model.Customer.Notes)
        </dd>
        <dt class="col-sm-3">
            Người phụ trách
        </dt>
        <dd class="col-sm-9">
            @if (Model.UserCustomers.Any())
            {
                @foreach (var userCustomer in Model.UserCustomers)
                {
                    @userCustomer.User.Email
                    <br />
                }
            }
            else
            {
                <span style="color: red;">Chưa có người đảm nhiệm</span>
            }
        </dd>
        <dt class="col-sm-3">
            Tiến độ
        </dt>
        <dd class="col-sm-9">
            @if (Model.Customer.IsComplete == true)
            {
                <span class="text-success">
                    <b>
                        Xong
                    </b>
                </span>
            }
            else
            {
                <span class="text-danger">
                    <b>
                        Chưa
                    </b>
                </span>
            }
        </dd>
        <dt class="col-sm-3">
            Phản hồi
        </dt>
        <dd class="col-sm-9">
            @Html.Raw(Model.Customer.Feedback)
        </dd>
    </dl>
</div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">
            Người tạo
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.UserId)
        </dd>
        <dt class="col-sm-3">
            Ngày tạo
        </dt>
        <dd class="col-sm-9">
            @{
                if (Model.Customer.CreatedDate.HasValue)
                {
                    var timeString = Model.Customer.CreatedDate.Value.ToString("dddd, dd/MM/yyyy hh:mm tt", new CultureInfo("vi-VN"));
                    if (timeString.Contains("SA"))
                    {
                        timeString = timeString.Replace("SA", "Sáng");
                    }
                    else if (timeString.Contains("CH"))
                    {
                        timeString = timeString.Replace("CH", "Chiều");
                    }
                    <text>@timeString</text>
                }
            }
        </dd>
        <dt class="col-sm-3">
            Ngày sửa
        </dt>
        <dd class="col-sm-9">
            @{
                if (Model.Customer.UpdatedDate.HasValue)
                {
                    var timeString = Model.Customer.UpdatedDate.Value.ToString("dddd, dd/MM/yyyy hh:mm tt", new CultureInfo("vi-VN"));
                    if (timeString.Contains("SA"))
                    {
                        timeString = timeString.Replace("SA", "Sáng");
                    }
                    else if (timeString.Contains("CH"))
                    {
                        timeString = timeString.Replace("CH", "Chiều");
                    }
                    <text>@timeString</text>
                }
            }
        </dd>
    </dl>
</div>

<hr />
<div style="margin-top: 30px;">
    <a asp-action="CreateBidPackagePrivate" asp-route-customerId="@Model.Customer.Id" class="btn btn-primary" style="margin-bottom: 20px;">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Tạo mới gối thầu
    </a>
    <div class="table-responsive">
        <table class="table  table-striped">
            <thead style="background-color: #4e73df; color: #fff">
                <tr>
                    <th>
                        STT
                    </th>
                    <th>Tên gối thầu</th>
                    <th>Ghi chú</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bidPackage in Model.Customer.BidPackages)
                {
                    <tr>
                        <td>
                            <b style="color: #4e73df">
                                @(stt++)
                            </b>
                        </td>
                        <td>@bidPackage.Name</td>
                        <td>@Html.Raw(bidPackage.Notes)</td>
                        <td>
                            <a asp-action="EditBidPackagePrivate" asp-route-id="@bidPackage.Id" class="btn btn-outline-primary">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                                Cập nhật
                            </a>
                            <a asp-action="DetailsBidPackagePrivate" asp-route-id="@bidPackage.Id" class="btn btn-outline-primary">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                Chi tiết
                            </a>
                            <form asp-action="DeleteBidPackagePrivate" asp-route-id="@bidPackage.Id" method="post" class="d-inline">
                                <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa gói thầu này không?');">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    Xóa
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<hr />

<div>
    <a asp-action="IndexPrivate" class="btn btn-outline-dark"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Danh sách khách hàng</a>
</div>

@{
    _AdminSidebarService.SetActive("Customers", "IndexPrivate", "");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}